# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\head-in-the-clouds\head-in-the-clouds\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
